#brain-cache-star-wrapper {
  position: fixed;
  right: 60px;
  bottom: 50px;
  z-index: 100000;
}

.brain-cache-star-hollow, .brain-cache-star-solid {
  font-size: 30px;
  color: #ffc107;
  cursor: pointer;
  opacity: 0.5;
}

.brain-cache-star-hollow:before {
  /* Hollow */
  content: "\2606";
}

.brain-cache-star-solid:before {
  /* Solid */
  content: "\2605";
}
